* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    text-decoration: none;
    background-color: #0A1828;
    color: #BFA181;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

.navigation ul {
    display: flex;
    justify-content: flex-end;
    padding: 10px 5%;
    font-size: 15px;
}

.navigation a {
    margin: 0px 20px;
    color: black;
}

.navigation {
    left: 10px;
    top: 0;
    width: 100%;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid #ccc;
}


.title1 {
    color: #178582;
    font-size: 30px;
    font-weight: bold;
}

.title1:hover {
    color: #f2f5f5;
    font-size: 31px;
    transition: 0.5s;
    font-weight: bold;
}

.button, .button1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #178582;
    color: white;
    border: bold 2px black;
    border-radius: 20px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.button:hover, .button1:hover {
    background-color: #BFA181;
    color: black;
}


.button1:hover {
    background-color: #0A1828;
    color: white;
}

/* ------------------------ */

.heading1 {
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    text-decoration: underline;
    text-underline-offset: 10px;
}


.mpara {
    margin: auto;
    max-width: 800px;
    background-color: #BFA181;
    padding: 30px;
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 30px;
}


.mpara:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 10px rgb(255, 255, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.sdg {
    font-size: 25px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.insidesdg {
    font-size: 20px;
    line-height: 50px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* ------------------------ */
/* RESPONSIVE DESIGN */


@media only screen and (max-width: 768px) {
    .navigation ul {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .navigation a {
        margin: 10px 0;
    }

    .button, .button1 {
        width: 100%;
        padding: 12px 0;
        font-size: 18px;
    }

    .title1 {
        font-size: 24px; 
    }

    .heading1 {
        font-size: 25px;
    }

    .mpara {
        margin: 10px;
        padding: 20px;
    }

    .sdg {
        font-size: 22px;
    }

    .insidesdg {
        font-size: 18px;
    }
}




img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .mpara {
        margin: 10px;
        padding: 20px;
    }

    .title1 {
        font-size: 24px;
    }

    .heading1 {
        font-size: 25px;
    }
}
